{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended",
        "plugin:flowtype/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "flowtype",
        "jest"
    ],
    "rules": {
        "linebreak-style": 0,
        "no-console": "off"
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "jest/globals": true,
        "node": true
    }
}